@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap);

* {
    box-sizing: border-box;
}

body {
    background: #ddd;
    color: #000;
    font-family: 'Fira Sans', sans-serif;
    font-size: clamp(1rem, 0.75rem + 0.625vw, 1.5rem);
    margin: 0;
    padding: 0;
}
